

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #2e64a1;
    padding: 1rem 0 ;
}

header h1{color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

.holder{
    width: 960px;
    margin: 0 auto;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 2rem;
}

nav ul{ list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo{
    background-color: #4c76a5;
}


.historia p{
    font-size: 0.8em;
}

.personas{
    overflow: hidden;
}

.persona{
    width: 18%;
    border: 1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.persona{
    text-align: center;
}

.persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0.8em 0 1 em;
    max-width: 70%;
}

.persona h5,
.persona h6{
    text-align: center;
    font-weight: normal;
    color: #2e64a1;
    margin: 0;
}

.persona h5{
    font-size: 0.9em;
}

.persona h6{
    font-size: 0.8em;
    font-style: italic;
}

.persona p{
    font-size: 0.7em;
    color: #444;
    margin: 0 1 em 1em;
}

.persona:first-child{
    margin-left: 0;
}

footer{background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3rem 0;
    margin-top: 2em;
    text-align: center;
}