

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #2e64a1;
    padding: 1rem 0 ;
}

header h1{color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

.holder{
    width: 960px;
    margin: 0 auto;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 2rem;
}

nav ul{ list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo{
    background-color: #4c76a5;
}

.servicio{
    border: 1px solid gray;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    color: #2e64a1;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 0.5em;
}

.servicio .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}

.servicio img{
    width: 200px;
    border-radius: 0.8em;
}

.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nyh-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nyh-child(odd) .info{
    float: right;
}






footer{background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3rem 0;
    margin-top: 2em;
    text-align: center;
}