/**{
    margin: 0;
    padding: 0;
}
*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #2e64a1;
    padding: 1rem 0 ;
}

header h1{color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

.holder{
    width: 960px;
    margin: 0 auto;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 2rem;
}

nav ul{ list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo{
    background-color: #4c76a5;
}

.homeimg{ 
    margin-bottom: 1.5em;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
    background-color: #6da9ed;
    padding: 1em;
}

.testimonios .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}

.testimonios .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}

h2{
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

footer{background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3rem 0;
    margin-top: 2em;
    text-align: center;
}